/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-deep-blue: #455a64;
  --color-dark-blue: #1c313a;
  --color-light-blue: #718792;
  --color-blue: #73aace;
  --color-beige: #f6f2ef;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-full-blue: #263238;
  --color-right-blue: #4f5b62;
  --color-left-blue: #102027;

  /* Font size */
  --font-large: 48px;
  --font-medium: 32px;
  --font-medi-regular: 21px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 15px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

p {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 6px 0;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-deep-blue);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
  position: absolute;
  top: 23px;
  right: 20px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("../imgs/cloud.jpg") center/cover no-repeat;
  padding: 200px 0 200px 0;
  text-align: center;
}

.home-title {
  height: 30vh;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border: 2px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  text-align: center;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.home__contact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home__contact span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home__contact:hover span {
  padding-right: 25px;
}

.home__contact:hover span:after {
  opacity: 1;
  right: 0;
}

/* About */

.aboutset {
  display: flex;
  margin-top: 45px;
}

#about h1 {
  color: var(--color-deep-blue);
}

.about__right {
  width: 500px;
  height: 300px;
  margin-left: 100px;
}

.about__profile {
  position: relative;
  background: #3e4a51;
  border-radius: 30px;
}

.about__profile::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #3e4a51;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.about__profile > ul {
  position: relative;
  width: 500px;
  height: 300px;
}

.about__profile > ul > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 300px;
  font-size: 16px;
  line-height: 2;
}

.about__profile > ul > li:not(:first-child) {
  display: none;
}

.prev,
.next {
  font-size: var(--font-micro);
  color: var(--color-white);
  background-color: var(--color-full-blue);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
}

.about__profile > ul > li > p {
  color: var(--color-white);
}

.li__one {
  font-size: var(--font-regular);
  padding-top: 88px;
}

.li__two {
  font-size: var(--font-micro);
  padding-top: 10px;
}

.li__three {
  padding-top: 80px;
}

#li__title {
  font-size: var(--font-regular);
}

/* Skill */

#skills {
  background-color: var(--color-light-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-full-blue);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 20px;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-left-blue);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-right-blue);
  padding: 50px;
}

.etc {
  padding: 50px 40px;
}

#value1 {
  animation: stack1 6s 1;
}

#value2 {
  animation: stack2 6s 1;
}

#value3 {
  animation: stack3 6s 1;
}

#value4 {
  animation: stack4 6s 1;
}

#value5 {
  animation: stack5 6s 1;
}

#value6 {
  animation: stack6 6s 1;
}

@keyframes stack1 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes stack2 {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes stack3 {
  0% {
    width: 0;
  }

  100% {
    width: 35%;
  }
}

@keyframes stack4 {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

@keyframes stack5 {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes stack6 {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

/* Work */

#work {
  margin-bottom: 70px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  margin: 2px;
}

#work h1 {
  color: var(--color-deep-blue);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
  padding: 20px;
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 70px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.hashtag {
  padding-top: 14px;
  font-weight: var(--weight-bold);
}

/* Contact */
#contact {
  background-color: var(--color-deep-blue);
}

.contact__title {
  color: var(--color-left-blue);
}

.contact__email,
.contact__phone,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 15px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 10px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

.contact__phone,
.contact__email {
  cursor: pointer;
}

.contact__rights {
  padding-top: 25px;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-right-blue);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 40px;
    --font-medium: 28px;
    --font-medi-regular: 19px;
    --font-regular: 15px;
    --font-small: 13px;
    --font-micro: 10px;
  }

  .section {
    padding: 16px;
  }

  /* Navbar */
  .navbar__toggle-btn {
    display: block;
    top: 20px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  /* Home */
  #home {
    padding: 120px;
  }

  .home-title {
    height: 26vh;
  }
  .home__avatar {
    width: 300px;
    height: 300px;
  }

  .home__contact {
    padding: 5px;
    width: 120px;
    font-size: var(--font-small);
  }

  /* About */
  .aboutset {
    flex-direction: column;
  }

  .about__left {
    margin-bottom: 8px;
  }

  .about__right {
    text-align: center;
    margin-bottom: 87px;
    width: 400px;
  }

  .about__profile {
    width: 400px;
  }

  .about__profile > ul {
    width: 400px;
  }

  .about__profile > ul > li {
    width: 400px;
  }

  #about {
    margin-bottom: 23px;
  }

  .about__profile::after {
    top: 0;
    left: 50%;
    border-bottom-color: #3e4a51;
  }

  .aboutset {
    flex-direction: column;
    align-items: center;
  }
  .about__right {
    margin-left: 0px;
  }

  .li__one {
    font-size: var(--font-regular);
    padding-top: 110px;
  }
  .li__two {
    font-size: var(--font-regular);
    padding-top: 9px;
  }

  .li__three {
    font-size: var(--font-regular);
    padding-top: 80px;
  }

  #li__title {
    font-size: var(--font-medi-regular);
  }

  /* Skill */
  .skillset {
    flex-direction: column;
  }

  .skill__description,
  .tools__list,
  .etc__list {
    font-size: 13px;
  }

  /* Work */
  #work {
    margin-bottom: 15px;
  }
  .project {
    flex-grow: 1;
  }

  /* Contact */
  .contact__title {
    font-size: 25px;
  }

  .contact__rights {
    padding-top: 7px;
  }

  /* Scroll */

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}

@media screen and (max-width: 530px) {
  :root {
    /* Font size */
    --font-large: 35px;
    --font-medium: 22px;
    --font-medi-regular: 17px;
    --font-regular: 14px;
    --font-small: 10px;
    --font-micro: 8px;
  }

  .home-title {
    height: 24vh;
  }

  .typed {
    font-size: var(--font-medi-regular);
  }

  .home__contact {
    margin-top: 32px;
    font-size: var(--font-regular);
  }

  #li__title {
    font-size: var(--font-medium);
  }
  .li__one,
  .li__two,
  .li__three {
    font-size: var(--font-medi-regular);
  }

  .li__one {
    padding-top: 100px;
  }

  .li__two {
    padding-top: 0px;
    margin: 0px;
  }

  .li__three {
    padding-top: 65px;
  }

  .skillset__title,
  .skill__description > span,
  .tools__list > li > span,
  .etc__list > li > span {
    font-size: var(--font-medi-regular);
  }

  .project__description > h3 {
    font-size: var(--font-medi-regular);
  }
  .contact__rights {
    font-size: var(--font-regular);
  }
}
